@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickUpDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OneTimePickUp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendEndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Html.DisplayFor(model => model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(model => model.LastName)
            </td>
            <td>
                @Html.DisplayFor(model => model.StreetName)
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
            <td>
                @Html.DisplayFor(model => model.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(model => model.PickUpDay)
            </td>
            <td>
                @Html.DisplayFor(model => model.OneTimePickUp)
            </td>
            <td>
                @Html.DisplayFor(model => model.SuspendStartDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.SuspendEndDate)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.CustomerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.CustomerId">Delete</a> 
                @*<a asp-action="OneTimePickUp" asp-route-id="@Model.CustomerId">One Time Pick Up</a> |
                <a asp-action="SuspendStartDate" asp-route-id="@Model.CustomerId">Suspend Account</a> |
                <a asp-action="SuspendEndDate" asp-route-id="@Model.CustomerId">End Suspension</a>*@ 
            </td>
        </tr>
}
    </tbody>
</table>
